.validation-context-menu {
    -fx-background-color: #006699;
    -fx-text-fill: white;
    -fx-padding: 0;
}

.validation-context-menu:hover {
    -fx-background-color: #006699;
    -fx-text-fill: white;
}

.validation-menu-item .label {
    -fx-text-fill: white;
}

.validation-menu-item:focused .label {
    -fx-text-fill: white;
}